body {
    background-color: white;
    font-family: 'Sedgwick Ave', sans-serif;
    color: #0a0a0a;
    
}

/* Heading and logo styling*/
.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 200px;
    padding-right: 5px;
}

h2 {
    text-align: center;
}

/* Playground style*/

.playground {
    width: 846px;
    height: 607px;
    display: flex;
    flex-wrap: wrap;
    
    margin: auto;

}

.box {
    height: 200px;
    width: 200px;
    border: dotted black 3px;
}

.mole {
    background-image: url(/assets/css/js/images/Mole.png);
    background-size: 200px 200px;
}